.left-image {
	float: left;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

.right-image {
	float: right;
	margin-left: 1rem;
	margin-bottom: 1rem;
}

blockquote {
	overflow: hidden;
}

.post {
	overflow: auto;
	border-bottom: 1px solid #e8e8e8;
	margin-bottom: 2rem;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

.field label {
	display: block;
	font-size: .875em;

	text-indent: 6px;
}

.field input, .field textarea {
	display: block;
	font-size: 100%;
	border: 1px solid #ccc;
	padding: 4px;
	background: #fff;
	border-radius: 3px;
	
}

.comments h3 {
	margin-top: 2em;
	color: #666;
}